@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Dosis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: url("fonts/Dosis-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/FiraCode-Regular.ttf") format("truetype");
}

// BOOTSTRAP DEFAULTS - NEEDED FOR REFERENCE TO OVERRIDE DEFAULTS FOR OTHER VALUES
$spacer: 1rem !default;
$border-radius: .375rem !default;
// END BOOTSTRAP DEFAULTS

$font-family-sans-serif: 'Dosis', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  'Fira Code', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

// Monokai theme https://gist.github.com/r-malon/8fc669332215c8028697a0bbfbfbb32a?permalink_comment_id=5697686#gistcomment-5697686
$white: #d6d6d6 !default;
$black: #272822 !default;

$yellow: #E6DB74 !default;
$green: #A6E22E !default;
$orange: #FD971F !default;
$purple: #AE81FF !default;
$pink: #F92672 !default;
$darkpink: darken($pink, 15%); // Custom for hover states
$blue: #66D9EF !default;
// Not defined: $blue, $indigo, $purple, $pink, $red, $cyan

$gray-100: lighten($black, 90%) !default;
$gray-200: lighten($black, 80%) !default;
$gray-300: lighten($black, 70%) !default;
$gray-400: lighten($black, 60%) !default;
$gray-500: lighten($black, 50%) !default;
$gray-600: lighten($black, 40%) !default;
$gray-700: lighten($black, 30%) !default;
$gray-800: lighten($black, 20%) !default;
$gray-900: lighten($black, 10%) !default;

$dark:          $gray-900 !default;
$light:         $gray-300 !default;

$body-color: $light !default;
$alt-background-color: $gray-900;

// Custom color variables
$primary:       $pink !default;
$secondary:     $purple !default;
$body-bg:       $black !default;
$breadcrumb-bg: $alt-background-color;
$breadcrumb-border-radius: $border-radius !default;
$breadcrumb-active-color: $orange !default;
$breadcrumb-padding-y: $spacer !default;
$breadcrumb-padding-x: $spacer !default;
$breadcrumb-divider: url("/images/breadcrumb-separator.svg");

$nav-link-font-size: 1.2rem !default;
$nav-link-font-weight: 800 !default;
$nav-link-color: $pink !default;
$nav-link-hover-color: $darkpink !default;
$nav-underline-link-active-color: $orange !default;
$nav-underline-gap: 2rem !default;

$card-bg: $alt-background-color !default;
$link-color:    $green !default;
$text-muted: $gray-600 !default;
$hr-border-color: $gray-700 !default;
$pre-color: $orange !default;

$line-height-base:            1.7 !default;
$font-size-base:              1.1rem !default;

.brand {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  .logo img {
    height: 7.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 2.75rem;
      font-weight: 800;
      line-height: 1;
    }

    .subtitle {
      font-size: 1.5rem;
      color: $text-muted;
    }
  }
}

// Bootstrap and its default variables
@import "./bootstrap/bootstrap.scss";

@include media-breakpoint-down(md) {
  .brand {
    justify-content: center;

    .logo img {
      height: 5rem;
    }

    .text {
      .title {
        font-size: 2rem;
      }
    }
  }
}

.item-grid {
  display: grid;
  grid-auto-rows: 1fr;

  // Default to 1 column for xs
  grid-template-columns: 1fr;

  // md breakpoint (768px and above): 2 columns
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }

  // lg breakpoint (992px and above): 3 columns
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item-grid-item {
    margin: 1em;
  }
}

dt {
  color: $gray-500;
  font-weight: bold;
}

strong {
  color: $yellow;
}

svg {
  font-size: 1.5em;
  margin-top: -0.15em;
}

// Custom bullet point for unordered lists
article ul {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 1.5em;
    line-height: 2em;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.4em;
      width: 1.2em;
      height: 1.2em;
      background-image: url("../images/bullet-point.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
.card-title {
  color: $green;
}

.breadcrumbnav {
  a {
    text-decoration: none;
    color: $pink;

    &:hover {
      color: $darkpink;
    }
  }
}
