@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Dosis-Regular.ttf") format("truetype");
}

.red {
  color: #BF0F30;
}

.breadcrumbnav {
  font-size: 0.8em;
}


$font-family-sans-serif: 'Dosis', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
// $font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$light: #B39540 !default;  // Yellow

// Custom color variables
$primary:       #1A7972 !default;  // Turquoise
$secondary:     #C3297E !default;  // Pink
$body-bg:       lighten($light, 30%) !default;  // Yellow
$breadcrumb-bg: lighten($light, 15%) !default;  // Lighter yellow for breadcrumbs
$breadcrumb-active-color: $primary !default;  // Breadcrumb active text color
$card-bg:       $breadcrumb-bg !default;  // Card background same as breadcrumb
$dark:          darken($secondary, 25%) !default;
$code-color:    $dark !default;  // Code text color
$pre-color:     $dark !default;   // Pre text color
$link-color:    darken($primary, 10%) !default;  // Link color

// CSS variables for use in browser
:root {
  --color-primary: #1A7972;
  --color-secondary: #C3297E;
}

.title {
  img {
    height: 1.2em;
    vertical-align: bottom;
  }
  small {
    font-size: 0.6em;
    color: $dark;
  }
}

// Bootstrap and its default variables
@import "./bootstrap/bootstrap.scss";


.item-grid {
  display: grid;
  grid-auto-rows: 1fr;

  // Default to 1 column for xs
  grid-template-columns: 1fr;

  // md breakpoint (768px and above): 2 columns
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }

  // lg breakpoint (992px and above): 3 columns
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .item-grid-item {
    margin: 1em;
  }
}

dt {
  color: $secondary;
  font-weight: bold;
}

strong {
  color: $secondary;
}

svg {
  font-size: 1.5em;
  margin-top: -0.15em;
}
