<footer class="mt-5 mb-5 text-center text-muted footer p-4">
  <div>
    &copy; {{ now.Year }} Petro Podrezo
  </div>
  <div class="mt-2 contact-links flex-column flex-lg-row">
    <div class="contact-link-item">
      <img src="/images/contact/email.svg" alt="Email" class="platform-icon" style="margin-top: 0.1rem">
      <a href="mailto:petro@podrezo.com">petro@podrezo.com</a>
    </div>
    <img src="/images/contact/divider.svg" alt="" class="platform-icon d-none d-lg-inline">
    <div class="contact-link-item">
      <img src="/images/contact/linkedin.svg" alt="LinkedIn" class="platform-icon">
      <a href="https://ca.linkedin.com/in/podrezo" target="_blank">LinkedIn</a>
    </div>
    <img src="/images/contact/divider.svg" alt="" class="platform-icon d-none d-lg-inline">
    <div class="contact-link-item">
      <img src="/images/contact/bluesky.svg" alt="Bluesky" class="platform-icon">
      <a href="https://bsky.app/profile/podrezo.com" target="_blank">Bluesky</a>
    </div>
    <img src="/images/contact/divider.svg" alt="" class="platform-icon d-none d-lg-inline">
    <div class="contact-link-item">
      <img src="/images/contact/github.svg" alt="Github" class="platform-icon">
      <a href="https://github.com/podrezo" target="_blank">Github</a>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<!-- <script src="vendor/jquery/jquery.slim.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>
