<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Petro Podrezo: Full-stack Software Developer">
  <meta name="author" content="Petro Podrezo">

  <title>{{ .Site.Title }}: {{ .Page.Title }}</title>

  <link rel="icon" type="image/svg+xml" href="/braces.svg">
  <link rel="alternate icon" ype="image/png" href="/braces.png">
  {{ $style := resources.Get "root.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>

<body>
  <!-- Page Content -->
  <div class="container mt-5">
    <header class="mb-5">
      <div class="brand">
        <div class="logo"><img src="/braces.svg" type="image/svg+xml"/></div>
        <div class="text">
          <div class="title">{{ .Site.Title }}</div>
          <div class="subtitle">Software Engineer</div>
        </div>
      </div>
      <nav class="nav nav-underline justify-content-center mt-5">
          {{ range .Site.Pages.ByWeight}}
            {{ if .Params.show_in_menu }}
              <a class="nav-link{{ if eq $.Permalink .Permalink }} active{{ end }}"{{ if eq $.Permalink .Permalink }} aria-current="page"{{ end }} href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          {{ end }}
      </nav>
    </header>
