<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Petro Podrezo: Full-stack Software Developer">
  <meta name="author" content="Petro Podrezo">

  <title>{{ .Site.Title }}: {{ .Page.Title }}</title>

  <link rel="icon" type="image/svg+xml" href="/braces.svg">
  <link rel="alternate icon" ype="image/png" href="/braces.png">
  {{ $style := resources.Get "root.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>

<body>
  <!-- Page Content -->
  <div class="container mt-5">
    <div class="row mb-4">
      <div class="col-lg-8">
        <h1 class="title"><img src="/braces.svg" type="image/svg+xml"/> {{ .Site.Title }} <small>Senior Software Engineer</small></h1>
        <hr/>
        <ul class="nav">
          {{ range .Site.Pages.ByWeight}}
            {{ if .Params.show_in_menu }}
              <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
