<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Petro Podrezo: Full-stack Software Developer">
  <meta name="author" content="Petro Podrezo">

  <title>{{ .Site.Title }}</title>

  <link rel="icon" type="image/svg+xml" href="/watering-plants.svg">
  <link rel="alternate icon" href="/favicon.ico">
  <!-- Why is the logo for this website a watering can watering some plants you ask?
       It's a reference to Chris Aitchison's article that compares being a software
       developer to being a gardener. https://medium.com/@cmaitchison/are-you-a-software-gardener-f79eba5b7fb7 -->
  {{ $style := resources.Get "bootstrap-customization.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

</head>

<body>
  <!-- Page Content -->
  <div class="container mt-5">
    <div class="row mb-4">
      <div class="col-lg-12">
        <h1><img src="/watering-plants.svg" type="image/svg+xml" style="height: 1.2em; vertical-align: bottom;"/> {{ .Site.Title }} <small>Software Gardener</small></h1>
        <hr/>
        <ul class="nav">
          {{ range .Site.Pages.ByWeight}}
            {{ if .Params.show_in_menu }}
              <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>